<div id="page">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header"> <a class="navbar-brand" href="#">megalopolis</a>
                <button style = "display: block; float: right" type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-envelope"></span> Send Email Alert
                </button>
            </div>
        </div>
    </nav>
    <div id="main">
        <div id="map-canvas">map</div>
        <div id="rightbar">
            <div style='position: relative; width: 100%; height: 0px; padding-bottom: 56%;'>
                <iframe src="//www.youtube.com/embed/Mfcu0MXOX5U?autoplay=1&showinfo=0&controls=0&loop=1&playlist=Mfcu0MXOX5U" frameborder="0" id="video1" style='position: absolute; left: 0px; top: 0px; width: 100%; height: 100%'></iframe>
            </div>
            <div style='position: relative; width: 100%; height: 0px; padding-bottom: 56%;'>
                <iframe src="//www.youtube.com/embed/xzG9KQBtmn0?autoplay=1&showinfo=0&controls=0&loop=1&playlist=xzG9KQBtmn0" frameborder="0" id="video2" style='position: absolute; left: 0px; top: 0px; width: 100%; height: 100%'></iframe>
            </div>
            <div style='position: relative; width: 100%; height: 0px;'>
                <div id="lineChart" class="epoch" style="width: 100%; height: 200px"></div>
            </div>
        </div>
    </div>
</div>

<script>
    var map;

    var nycCenter = new google.maps.LatLng(40.758895, -73.985131);
    var timesSquare = new google.maps.LatLng(40.755753, -73.987222);
    var littleItaly = new google.maps.LatLng(40.719571, -73.997355);
    var chargingBull = new google.maps.LatLng(40.705798, -74.013358);
    var uppEastSide = new google.maps.LatLng(40.772349, -73.951211);
    var brooklyn = new google.maps.LatLng(40.692638, -73.986540);
    var jersey = new google.maps.LatLng(40.742204, -74.031230);
    var queens = new google.maps.LatLng(40.744203, -73.882178);
    var bronx = new google.maps.LatLng(40.823490, -73.928184);
    var east = new google.maps.LatLng(40.814916, -74.088172);

    var videoId = ["Mfcu0MXOX5U", "xzG9KQBtmn0", "UCgqFe3ruZg", "MEi2iH5dB8s", "jyjVUvXIhDU", "xzG9KQBtmn0"];

    function initialize() {
        var mapOptions = {
            zoom: 12,
            center: nycCenter
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
        var marker0 = new google.maps.Marker({
            position: nycCenter,
            map: map,
            title: "center"
        });
        var marker1 = new google.maps.Marker({
            position: timesSquare,
            map: map,
            title: "timesSquare"
        });
        var marker2 = new google.maps.Marker({
            position: littleItaly,
            map: map,
            title: "littleItaly"
        });
        var marker3 = new google.maps.Marker({
            position: chargingBull,
            map: map,
            title: "chargingBull"
        });
        var marker4 = new google.maps.Marker({
            position: uppEastSide,
            map: map,
            title: "uppEastSide"
        });
        var marker5 = new google.maps.Marker({
            position: brooklyn,
            map: map,
            title: "brooklyn"
        });
        var marker6 = new google.maps.Marker({
            position: jersey,
            map: map,
            title: "jersey"
        });
        var marker7 = new google.maps.Marker({
            position: queens,
            map: map,
            title: "queens"
        });
        var marker8 = new google.maps.Marker({
            position: bronx,
            map: map,
            title: "bronx"
        });
        var marker9 = new google.maps.Marker({
            position: east,
            map: map,
            title: "east"
        });

        var markers = [marker0, 
                       marker1, 
                       marker2, 
                       marker3, 
                       marker4, 
                       marker5, 
                       marker6,
                       marker7,
                       marker8,
                       marker9];

        google.maps.event.addListener(markers[0], 'click', function() {
            map.setCenter(markers[0].getPosition());
        });
        google.maps.event.addListener(markers[4], 'click', function() {
            map.setCenter(markers[0].getPosition());
        });
        google.maps.event.addListener(markers[5], 'click', function() {
            map.setCenter(markers[0].getPosition());
        });
        google.maps.event.addListener(markers[6], 'click', function() {
            map.setCenter(markers[0].getPosition());
        });
        google.maps.event.addListener(markers[7], 'click', function() {
            map.setCenter(markers[0].getPosition());
        });
        google.maps.event.addListener(markers[8], 'click', function() {
            map.setCenter(markers[0].getPosition());
        });
        google.maps.event.addListener(markers[9], 'click', function() {
            map.setCenter(markers[0].getPosition());
        });

        google.maps.event.addListener(markers[1], 'click', function() {
            map.setCenter(markers[0].getPosition());
            document.getElementById('video1').src = "//www.youtube.com/embed/" + videoId[0] + "?autoplay=1&showinfo=0&controls=0&loop=1&playlist=" + videoId[0];
            document.getElementById('video2').src = "//www.youtube.com/embed/" + videoId[1] + "?autoplay=1&showinfo=0&controls=0&loop=1&playlist=" + videoId[1];
        });

        google.maps.event.addListener(markers[2], 'click', function() {
            map.setCenter(markers[0].getPosition());
            document.getElementById('video1').src = "//www.youtube.com/embed/" + videoId[2] + "?autoplay=1&showinfo=0&controls=0&loop=1&playlist=" + videoId[2];
            document.getElementById('video2').src = "//www.youtube.com/embed/" + videoId[3] + "?autoplay=1&showinfo=0&controls=0&loop=1&playlist=" + videoId[3];
        });

        google.maps.event.addListener(markers[3], 'click', function() {
            map.setCenter(markers[0].getPosition());
            document.getElementById('video1').src = "//www.youtube.com/embed/" + videoId[4] + "?autoplay=1&showinfo=0&controls=0&loop=1&playlist=" + videoId[4];
            document.getElementById('video2').src = "//www.youtube.com/embed/" + videoId[5] + "?autoplay=1&showinfo=0&controls=0&loop=1&playlist=" + videoId[5];
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    pubnub.subscribe({
        channel: 'countChannel',
        message: function(msg) {
            var curr_t = Math.floor(Date.now() / 1000);
            var object = [{
                time: curr_t,
                y: Number(msg)
            }];
            EPOCH_OBJECTS.area.push(object);
        },
        connect: function() {
            console.log("Connected")
        },
        disconnect: function() {
            console.log("Disconnected")
        },
        reconnect: function() {
            console.log("Reconnected")
        },
        error: function() {
            console.log("Network Error")
        },
    });

    var start_t = Math.floor(Date.now() / 1000);
    chartData = [{
        time: start_t,
        y: 100
    }];

    var EPOCH_OBJECTS = {
        area: $("#lineChart").epoch({
            type: "time.bar",
            data: [{
                values: chartData
            }],
            axes: ['bottom', 'left']
        })
    };
</script>